.header{
    display: flex;
    height: 80px;
    
    background-color: #0f1111;
    color: white;
    align-items: start;
    justify-content: space-evenly;
 
    
   
}
.amazon-img{
    width: 100%;
    height: 70%;
    cursor: pointer;
    object-fit: contain;
    object-position: center;
    min-width: 100px;

    
}
.amazon-img:hover{
    border: white 2px solid;
}


.left,.middle{
    display: flex;
   height: 60px;
   padding-top: 6px;
   margin-left: 10px;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 20px;
  

    
}
.left{
   
}
.middle{
    margin-left: 20px;
    flex-grow: inherit;
    width: 100%;
}
.right{
   
        display: flex;
       height: 60px;
       padding-top: 6px;
       margin-left: 10px;
       font-family: Arial, Helvetica, sans-serif;
       padding-top: 20px;
      gap: 15px;
        
    

}
.amazon-logo{
  display: flex;
  justify-content: center;
  width: 100%;
}
.location{

}
.deliver{
    display: flex;
    margin-left: 10px;
    width: 100%;
    min-width: 100px;
}
.deliver-loc:hover{
    border: white 2px solid;
    cursor: pointer;
}
.deliver-loc{
    display: flex;
    flex-direction:column;
}
.to-deliver{
    font-size: 12px;
    opacity: 0.7;
    font-weight: lighter;
 
}
.location-svg{
    padding-top: 15px;
}
.option-button{
    height: 38.5px;
    background-color: rgb(222, 221, 221);
   opacity: 0.9;
   display: flex;
   align-items: center;
   width: 50px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-color: white;

   
}
.all{
    opacity: 0.5;
}
.arrow{
    padding-top: 15px;
}
.searchBar{
    height: 38.5px;
   
    border: none;
    width: 100%;
}
.searchBar:hover{
    border: white 2px solid;
    cursor: pointer;
}
.searchBar:active{
    border: white 2px solid;
    cursor: pointer;
}

.search-button{
    height: 36px;
    width: 35px;
    padding-left: 10px;
    padding-top: 2px;
    background-color: orange;
    margin-top: 0.5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-button:hover{
    border: white 2px solid;
    cursor: pointer;
}
.searchButtonSvg{
    padding-right: 4px;
    padding-top: 4px;
}
.american-flag-logo{
    height: 15px;
    width: 20px;
    background-color: #0f1111;
  padding-bottom: 50%


}
.language{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
}
.en{
    margin-bottom: 20px;
   
}
.language:hover{
    border: white 2px solid;
    cursor: pointer;
}
.signIn{
    font-size: 13px;
    width:100px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
 

}
.signIn:hover{
    border: white 2px solid;
    cursor: pointer;
}
.cart{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    
}
.cart:hover{
    border: white 2px solid;
    cursor: pointer;
}

.prod-image{
    width: 202.125px;
    height: 278.800px;
     margin-left: 0px;
    margin-right: 0px;
}
.prod-img-container{
    width: 202.125px;
    height: 278.800px;
   
}
.prod-title{
display: flex;
align-items: center;



}
.title{
    
}
.products{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 400px;
align-items: stretch;
border: 0.5px solid black;
gap: 2px;
position: relative;
font-size: 13px;
  
}
.rating-img{
    width: 80px;
    height: 18px;
}
.ratings{
    position: absolute;
    bottom: 45px;
    display: inline;
  
}
.cents{
    padding-left: 2px;
position: absolute;
}
.priceval{
    font-size: 20px;
    
}
.price{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.add-to-cart{
    width:140px;
    height: 25px;
border-radius: 70px;
background-color: rgb(250, 226, 11);
position: absolute;
bottom: 0px;
right: 0;


    
}
.add-to-cart:hover{
    cursor: pointer;
    background-color: rgb(170, 154, 7);
}
.button-class{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}
.added-to-Cart{
    position: absolute;
    bottom: 25px;
    right: 10px;
    display: flex;
   gap: 6px;
   visibility: hidden;

}
.tick{
  height: 16px;
  padding-bottom: 4px;
}
.add-to-cart-txt{
    font-size: 12px;
    padding-top: 1.5px;
    color: #007600;
}
.homePage-link::selection{
    transform: rotate3d(360deg);
}
.body{
    perspective: 1000px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform-origin: center center;
}

.rotate-effect{
    transform: rotate(360deg)
}
body.flip {
    transform: rotateY(180deg);
}
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}